.container{
    
    background-image: url(fejlec.jpg);
    height: 150px;
    border: 2px solid orange;
    border-radius: 10px;
}

.oldal{
    ;
    background-color: gray;
    height: 1000px;
}

.row{
    
    padding: 5px;
}

.menufb{
    
    background-color: darkblue;
    color: white;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    text-align: center;
    margin: 5px;
}

a:hover{
    background-color: green;
    color: white;
    text-decoration: none;
    
}

